.section-header{

    left: initial;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}


.aboutus .aboutus-image {
    left: initial;
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}

.school-operations .facilitating-processes img {
    right: initial;
    left: 0
  }

  .footer .copyright{
    direction: ltr;
  }


  @media (max-width: 418px){
    .footer .footer-links{
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
      left: initial;
      right: 50%;
    }
    }
